
.idea/inspectionProfiles/profiles_settings.xml
.idea/Memes-Against-Humanity.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
client/GUI/__pycache__/MainMenu.cpython-38.pyc
client/__pycache__/MainMenu.cpython-38.pyc
